<div class="flex flex-col h-screen">
    <app-navbar></app-navbar>
    <div class="w-full flex-grow bg-primary-500 px-4 pb-4">
      <div class="flex flex-col h-full">
        <div>
          <h2 class="text-xl font-bold text-white my-4">Demo Board</h2>
        </div>
        <!-- el overflow-x-scroll sirve para que aparezca el scroll al agregar columnas junto con el flex-shrink-0 -->
        <div class="flex flex-grow items-start w-full h-full overflow-x-scroll" cdkDropListGroup>
  
          <div class="rounded bg-gray-200 w-72 p-2 mr-3 flex-shrink-0" *ngFor="let column of columns">
            <div class="flex justify-between py-1">
              <h3 class="text-sm font-bold ml-2"> {{column.title}} </h3>
            </div>
            <!-- el cdkDropList es el que ayuda a la renderizacion entre columnas -->
            <div class="text-sm mt-2 min-h-custom" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="column.todos">
              <!-- al hacerle click para que habra el detalle se necesita del todo-dialog -->
              <div
              (click)="openDialog(todo)"
              *ngFor="let todo of column.todos"
              cdkDrag
                class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
              >
                {{ todo.title}}
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start">
            <button class="flex items-center text-white mt-2" (click)="addColumn()">
              <i class="bi bi-plus-circle"></i>
              <span class="ml-2">Add Column</span>
            </button>
        </div>
      </div>
    </div>
  </div> 